<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Input field for time spent exercising -->
  <ion-item>
    <ion-label position="stacked">Time Spent exercising (minutes)</ion-label>
    <ion-input type="number" [(ngModel)]="timeSpent"></ion-input>
  </ion-item>

  <!-- Input field for number of sets -->
  <ion-item>
    <ion-label position="stacked">Number of Sets</ion-label>
    <ion-input type="number" [(ngModel)]="numberOfSets"></ion-input>
  </ion-item>
</ion-content>
