<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nutrition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="stacked">Enter a food item:</ion-label>
    <ion-input type="text" [(ngModel)]="query"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="searchNutrition()">Search</ion-button>

  <ion-list *ngIf="nutritionData.length > 0">
    <ion-item *ngFor="let item of nutritionData">
      <ion-label>{{ item.name }}: {{ item.calories }} calories</ion-label>
    </ion-item>
  </ion-list>

  <!-- Display error message if fetching nutrition data fails -->
  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>
